header {
  margin-bottom: 20px;

  .headerTop {
    padding: 20px 25px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .headerTopLogo {
      display: flex;
      align-items: center;
      gap: 15px;
      cursor: pointer;

      img {
        width: 80px;
        height: 80px;
      }
    }

    h1 {
      font-size: 25px;
      color: #505050;
    }

    .headerTopForm {
      padding: 15px;
      background-color: #fff;
      display: flex;
      align-items: center;
      gap: 10px;
      border: 2px solid #8d8d8d;
      border-radius: 20px;

      input {
        border: none;
        outline-color: transparent;
        font-size: 22px;
        color: #505050;
      }

      img {
        width: 30px;
        height: 30px;
      }

      button {
        background-color: #fff;
        color: #505050;
        font-size: 22px;
        border: none;
        outline-color: transparent;
        cursor: pointer;

        &:hover,
        &:active {
          color: #0000ff;
        }
      }
    }

    .personalData {
      display: flex;
      gap: 15px;

      li {
        list-style-type: none;
        align-self: center;
        cursor: pointer;

        .userIcon {
          width: 37px;
          height: 37px;
        }

        .favoritesIcon {
          width: 30px;
          height: 30px;
        }

        .cartIcon {
          width: 35px;
          height: 35px;
        }
      }
    }
  }

  hr {
    border: none;
    background-color: #8d8d8d;
    color: #a0a0a0;
    height: 2px;
  }
}
